*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
   
   background-image: url(./historia.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 89.4vh;
}

header{
  
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  .quiz-container {
    
    width: 400px;
    padding: 50px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    border: #363636 solid 1px;
    border-radius: 7px;
    background-color: white;
  }

  .question {
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
    text-align: center;
  }
  li{
    border-radius: 8px;
    background-color: gray;
    border: black solid 1px;
    text-align: center;
    margin: 8px auto;
    font-size: 20px;
    cursor: pointer;

  }
  li:hover{
    background-color: #C0C0C0;
  }

  .options {
    list-style-type: none;
    padding: 0;
  
  }


button{
    background-color: green;
}